page-dashboard {

	.flex-center{
		align-item:center;
		display: flex;
		justify-content: center;
	}

	.button-set{
		 width: 100% !important;
    	font-size: 10px;
	}

	

	.image-icon{
		width: 50px !important;
    	height: 50px !important;
	}

	.tab-tile{
		    font-size: 12px !important;
    		margin: 10px 0px !important;
	}

	.active{
		color:red !important;
		font-size: 14px !important;
	}

	.deactive{
		color:grey !important;
	}
}
